<template>
  <v-tabs>
    <v-tab>CREATE</v-tab>
    <v-tab>READ</v-tab>
    <v-tab>UPDATE</v-tab>
    <v-tab>DELETE</v-tab>

    <v-tab-item>
      <v-container :key="'start'" fluid>
        <v-row align="start">
          <v-col cols="3">
            <h3>Save item to DB</h3>
            <v-text-field v-model="newProduct.name" label="Name"></v-text-field>
            <v-text-field
              v-model="newProduct.description"
              label="Description"
            ></v-text-field>
            <v-text-field
              v-model.number="newProduct.price"
              label="Price"
              type="number"
            ></v-text-field>
            <v-btn @click="saveProduct">Save item</v-btn>
          </v-col>
        </v-row>
      </v-container>
    </v-tab-item>

    <v-tab-item>
      <v-container :key="'start'" fluid>
        <v-row align="start">
          <v-col cols="8">
            <h3>Read all items</h3>
            <v-data-table
              :headers="tableHeaders()"
              :items="$accessor.products.productList"
              :items-per-page="5"
              class="elevation-1"
            ></v-data-table>
          </v-col>
          <v-col cols="4">
            <h3>Read single item</h3>
            <v-text-field
              v-model="product._id"
              label="Enter item ID"
            ></v-text-field>
            <v-text-field
              v-model="product.name"
              label="Name"
              disabled
            ></v-text-field>
            <v-text-field
              v-model="product.description"
              label="Description"
              disabled
            ></v-text-field>
            <v-text-field
              v-model="product.price"
              label="Price"
              disabled
            ></v-text-field>
            <v-text-field
              v-model="product.createdAt"
              label="Created At"
              disabled
            ></v-text-field>
            <v-btn @click="findProduct(product._id, 'SET_PRODUCT')">
              Search
            </v-btn>
          </v-col>
        </v-row>
      </v-container>
    </v-tab-item>

    <v-tab-item>
      <v-container :key="'start'" fluid>
        <v-row align="start">
          <v-col cols="4">
            <h3>Update item</h3>
            <v-text-field
              v-model="productToUpdate._id"
              label="Enter item ID"
            ></v-text-field>
            <v-text-field
              v-model="productToUpdate.name"
              label="Name"
            ></v-text-field>
            <v-text-field
              v-model="productToUpdate.description"
              label="Description"
            ></v-text-field>
            <v-text-field
              v-model="productToUpdate.price"
              label="Price"
            ></v-text-field>
            <v-text-field
              v-model="productToUpdate.createdAt"
              label="Created At"
              disabled
            ></v-text-field>
            <v-btn
              @click="findProduct(productToUpdate._id, 'SET_PRODUCT_TO_UPDATE')"
            >
              Search
            </v-btn>
            <v-btn @click="updateProduct">Update</v-btn>
          </v-col>
        </v-row>
      </v-container>
    </v-tab-item>

    <v-tab-item>
      <v-container :key="'start'" fluid>
        <v-row align="start">
          <v-col cols="3">
            <h3>Delete item from DB</h3>
            <v-text-field
              v-model="productIdToDelete"
              label="Enter item ID"
            ></v-text-field>
            <v-btn @click="deleteProduct">Delete item</v-btn>
          </v-col>
        </v-row>
      </v-container>
    </v-tab-item>
  </v-tabs>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import { ProductInterface } from '~/store/products/interfaces/ProductInterface'

@Component
export default class MainComponent extends Vue {
  private _newProduct: ProductInterface | null = null
  private _product: ProductInterface | null = null
  private _productToUpdate: ProductInterface | null = null
  private _productList: ProductInterface[] | null = null
  private _productIdToDelete: string | null = null

  get newProduct(): ProductInterface {
    this._newProduct = { ...this.$accessor.products.newProduct }
    return this._newProduct
  }

  get product(): ProductInterface {
    this._product = { ...this.$accessor.products.product }
    return this._product
  }

  get productToUpdate(): ProductInterface | null {
    this._productToUpdate = { ...this.$accessor.products.productToUpdate }
    return this._productToUpdate
  }

  get productList(): ProductInterface[] {
    if (!this._productList?.length) {
      this._productList = [...this.$accessor.products.productList]
    }
    return this._productList
  }

  get productIdToDelete(): string | null {
    this._productIdToDelete = this.$accessor.products.productIdToDelete
    return this._productIdToDelete
  }

  set productIdToDelete(value: string | null) {
    if (!value) return
    this.$accessor.products.SET_PRODUCT_ID_TO_DELETE(value)
    this._productIdToDelete = value
  }

  saveProduct(): void {
    const newProduct = this.newProduct
    if (!newProduct) return
    this.$accessor.products.saveProduct(newProduct)
  }

  findProduct(productId: string, target: string): void {
    if (!productId) return
    this.$accessor.products.findProduct({
      productId,
      target,
    })
  }

  deleteProduct(): void {
    const productIdToDelete = this.productIdToDelete
    if (!productIdToDelete) return
    this.$accessor.products.deleteProduct(productIdToDelete)
  }

  updateProduct(): void {
    const productToUpdate = this.productToUpdate
    if (!productToUpdate) return
    this.$accessor.products.updateProduct(productToUpdate)
  }

  tableHeaders() {
    return [
      { text: 'ID', value: '_id' },
      { text: 'Name', value: 'name' },
      { text: 'Description', value: 'description' },
      { text: 'Price', value: 'price' },
      { text: 'Created At', value: 'createdAt' },
    ]
  }

  mounted() {
    this.$accessor.products.fetchProducts()
  }
}
</script>
